body{
  background-color: #ccdbea
}

.header{
    height: 80px;
    /* background-color: lightgreen; */
    box-shadow: 0 3px 3px rgba(80, 80, 80, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.logo {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    color: #5b86b5;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
}

.logo > img {
    height: 50px;
    opacity: 1;
    margin-right: 10px;
}

a > img {
    height: 34px;
    cursor: pointer;
}

.unmute{
    cursor: pointer;
}

.mute{
    cursor: pointer;    
}

.fa-sync-alt{
    font-size: 27px;
    cursor: pointer;
}

.buttons{
    font-size: 30px;
    opacity: 0.6;
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
}

.description{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #5b86b5;
    margin-top: 20px;
}

.description > p {
    margin: 10px;
    margin-top: 20px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row1, .row2, .row3, .row4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.container{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 250px;
    height: auto;
    width: 85%;
    flex-wrap: wrap;
}

.sound-icon{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    width: 160px;
    margin-left: 40px;
    margin-right: 40px;
}

.icon{
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon > img{
    opacity: 0.4;
}

.icon > img {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    height: 100%;
    cursor: pointer;
    transition: opacity 2s;
    color: blue;
}

input[type=range] {
    transition: opacity 2s;
    box-sizing: border-box;
    font-size: 1em;
    line-height: .5em;
    height: .5em;
    background-color: #abc3dc;
    cursor: pointer;
    /* -webkit-appearance: none; */
    /* width: 50%; */
    max-width: 150px;
    border-radius: 100px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px; 
  background: #8aabce;
  border-radius: 50%;
  cursor: pointer;
}

.volume-slider{
    opacity: 0;
}

.playing{
    transition: opacity 2s;
    opacity: 0.8;
}

.rain{
    background-image: url("/icons/rain.png");
    background-size: cover;
}

.bird{
    background-color: darkblue;
}

.cat{
    background-color: darkblue;
}

.fire{
    background-color: darkblue;
}

.lake{
    background-color: darkblue;
}

.leaf{
    background-color: darkblue;
}

.night{
    background-color: darkblue;
}

.ocean{
    background-color: darkblue;
}

.river{
    background-color: darkblue;
}

.thunder{
    background-color: darkblue;
}

.wind{
    background-color: darkblue;
}

.car{
    background-color: lime;
}